footer {
    /* background-color: #62535f; */
    color: black;
    background-position: bottom;
  }
  
  footer p {
    font-weight: 300;
    font-size: 14px;
  }
  
  .footer-left a {
    font-weight: 500;
    text-decoration: none;
    color: #f2713a;
  }
  
  .footer-left a:hover {
    opacity: 0.5;
  }
  
  .footer-right button {
    text-decoration: none;
    color: white;
    background-color: #f2713a;
    border: 1.4px solid white;
    margin-top: 30px;
    padding: 5px 18px;
    width: 48x;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  
  .footer-right button:hover {
    background-color: #f2713a;
    border: 1.4px solid #f2713a;
  }
  
  
    footer {
      display: flex;
      justify-content: space-between;
    }
    .footer-right {
      line-height: 0.5;
      padding: 25px 0 10px 15px;
      font-size: 13px;
      font-weight: 400;
      margin: 0px 50px 40px 0;
    }
    .footer-left {
      text-align: left;
      margin: 20px 0 0px 15px;
      line-height: 0.8em;
    }
  